*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lato", sans-serif;
  background-color: #FFFFF0;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 2rem 8rem; }

.header {
  grid-row: 1; }

.header {
  text-align: center; }

.heading-1 {
  font-size: 6rem;
  font-weight: 700; }

.address {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 400; }

.heading-2 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  align-self: center; }

.summary {
  text-align: left;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
  color: #555; }

.skills {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem; }

.list__item {
  font-size: 1.5rem; }

.experience {
  grid-row: 3; }

.section__title {
  text-align: center; }

.job__experience {
  font-size: 2rem; }

.company {
  font-size: 2rem; }

.job__title {
  font-size: 2rem; }

.list__item {
  font-size: 2rem; }

.list__item:last-child {
  margin-bottom: 3rem; }

@media print {
  .page1 {
    page-break-after: always;
    /* Ends this section with a page break */ }
  .page2 {
    page-break-before: always;
    /* Starts this section on a new page */ } }

.education {
  grid-row: 4; }

.education {
  font-size: 2rem; }

.education__item {
  margin-bottom: 2rem; }
