// COLOR VARIABLES
$color-primary: gold;


// FONT VARIABLES


// RESPONSIVE BREAKPOINTS



// GLOBAL RESET

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  // 10px / 16px = 62.5%
    }

body {
    font-family: sans-serif;
    color: $color-primary;
    font-weight: 300;
    line-height: 1.6;
}