// COLOR VARIABLES
$color-primary: #FFFFF0;

// FONT VARIABLES
$font-family: "Lato"; 
$color-grey-dark-1: #333;
$color-grey-dark-2: #555;
$font-standard: 2rem;


// RESPONSIVE BREAKPOINTS



// GLOBAL RESET

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  // 10px / 16px = 62.5%
    }

body {
    font-family: $font-family, sans-serif;
    background-color: $color-primary;
    font-weight: 300;
    line-height: 1.6;

    // display: grid;
    // grid-template-columns: auto 80vw auto;
}

// Grid container

.container {
    // grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;  // Allow rows to be as tall as needed
    // gap: 3rem;
    padding: 2rem 8rem;
}