.header {
    grid-row: 1;
}

.header {
    text-align: center;
}

.heading-1 {
    font-size: 6rem;
    font-weight: 700;
}

.address {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.heading-2 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
    align-self: center;
}

.summary {
    text-align: left;
    font-size: $font-standard;
    font-weight: 400;
    margin-bottom: 2.5rem;
}